<p>
<button (click)="nastavnik()">Nastavnici</button>
<button (click)="univerziteti()">Univerziteti</button>
<p>
<button (click)="fakulteti()">Fakulteti</button>
<p>
<button (click)="studenti()">Studenti</button>
<p>
<button (click)="studijskiProgram()">Studijski programi</button>
<p>
<button (click)="mesto()">Mesta</button>
<p>
<button (click)="adresa()">Adrese - ispravi adresu</button>
<p>
<button (click)="predmet()">Predmeti</button>
<p>
<button (click)="pohadjanjePredmeta()">Pohadjanje predmeta</button>
<p>
<button (click)="nastavnikNaRealizaciji()">Nastavnici na realizaciji</button>
<p>
<button (click)="tipNastave()">Tipovi Nastave - Dodaje bez ID-a</button>
<p>
<button (click)="studentNaGodini()">Student na godini</button>
<p>
<button (click)="godinaStudija()">Godina Studija</button>
<p>
<button (click)="zvanje()">Zvanja</button>
<p>
<button (click)="tipZvanja()">Tip Zvanja</button>
<p>
<button (click)="naucnaOblast()">Naucna oblast</button>